*{
  box-sizing: border-box;
}
body{
  background-color: rgb(196, 136, 34);
}
.slider-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slider{
  display:none;
}

.prev, .next{
cursor: pointer;
position: absolute;
top:50%;
width: auto;
margin-top: -22px;
padding 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.7s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}
.next {
right:0;
border-radius: 3px 0px 0px 3px;}

.prev:hover, .next:hover{
  background-color: rgba(224, 63, 35, 0.31);
}

.text{
  color:rgb(255, 255, 255);
  font-size:15px;
  padding:8px 12px;
  position: absolute;
  bottom: 8px;
  width:100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:rgb(137, 224, 112);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.7s ease;
}


.active, .dot:hover{
  background-color: rgb(157, 41, 139);
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
