body{
width: 100%;
background-color: rgb(255, 153, 51);
}

input{
  max-width: 15%;
  margin-left: 10px;
  margin-bottom: 3px;

}
input:first-child{
  margin-top: 10px;
}
input:last-child{
  margin-top: 10px;
}


#info{
  width: 200px;
  height: 50px;
  padding: 10px;
  text-align: center;
  background-color:rgb(204, 122, 0);
  margin: 10px;
}
#formularz
{
  padding: 10%;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 153, 0);
}

#infosuc{
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  color: black;
}

#witamy{
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  color: black;
}
