
#banner{
  background-color: rgb(105, 88, 89);
  color: white;
  font-size: 150%;
  text-align: center;
  height: 80px;
}

#lewy{
  background-color: rgb(145,127,112);
  width: 20%;
  height: 600px;
  float: left;
}
#srodkowy{
  background-color: rgb(184, 168,169);
  width: 60%;
  height: 600px;
  float: left;
}
#prawy{
  background-color: rgba(145, 127,112);
  width: 20%;
  height: 600px;
  float: left;
}

h2{
  color: white;
}

img{
  float: right;
  margin-right: 10px;
}

table{
  border: solid 1px black;
  margin: 5px;

}

p{
  font-weight: bold;
}

a{
  color: lightgreen;
}

th{
  border: solid 1px black;
  background-color:rgb(184, 150,100);
  border-collapse:collapse;
  padding: 5px;
}

td, tr{
  border: solid 1px black;
  padding:5px;
  background-color:rgb(184, 150,140);
  text-align: center;
}

.red{
  color: rgb(190, 10, 100);
}

input, textarea, select{
  margin: 6px;
  border-color: black;
  background-color: rgb(145, 127,112);
  color:white;

}
input::placeholder{
  color:lightgrey;
}
