body{

  background: orange;
  background-image: linear-gradient(to right top, #dc8648, #e89030, #ff8f04, #e48017, #ebae12);
  color:rgb(51, 255, 0, 1);
  text-shadow: 1px 1.5px 0px black;
}


input{
  font-size: 14px;
  color:rgb(255, 255, 255);
  background-color: rgb(222, 133, 28);
  border: 3px dotted black;
  border-radius: 7px;
  padding: 5px 5px 5px 20px;
  margin: 3px;
  background-repeat: no-repeat;
  background-position: right;
  background-size:contain;


}
input:focus{
  background-color:rgb(201, 149, 32);
  border: 4px solid black;
}

input#email{
  background-image: url(./../img/email.png);
  color:black;
}
input#facebook{
  background-image: url(./../img/fb.png);
  color:black;
}
input#www{
  background-image: url(./../img/www.png);
  color:black;
}
#wyslij{
padding: 5px 15px;
color:black;
text-shadow: 0px 2px 2px rgb(186, 75, 60);
background-image: linear-gradient(to right top, #dc8648, #e89030, #ff8f04, #e48017, #ebae12);
}
#wyslij:hover{
  cursor: pointer;
  background-image: linear-gradient(to right top, #d56a1d, #c9781e, #ff8f04, #ff8300, #ffb804);

}

fieldset{
  width: auto;
  border-radius: 10px;
  border-color: green;
  padding:10px;
  text-align: center;
  background-color: orange;
}
legend{
background-color: orange;
color:rgb(51, 255, 0, 1);
border-color: green;
border: solid;
border-radius: 10px;
text-transform: uppercase;
}
#button{
  background-image: linear-gradient(to right top, #d56a1d, #c9781e, #ff8f04, #ff8300, #ffb804);
  float: right;
  color: black;
}
#button:hover{
  color: white;
  cursor: pointer;
  background-image: linear-gradient(to right top, #dc8648, #e89030, #ff8f04, #e48017, #ebae12);

}
